{% extends 'base.html.twig' %}

{% block title %}Quienes Somos - Restaurante DWES{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Quienes Somos 🍽️</h1>
    <h2>"Mucho más que comer"</h2>

    <p>Descubre el sabor único de nuestras carnes a la parrilla, seleccionadas por su excelente calidad en diversos cortes.
        Desde la exclusiva Vaca Rubia Gallega hasta las jugosas carnes de cerdo ibérico,
        pasando por nuestras elaboraciones en el horno moruno de leña, cada bocado es una experiencia inigualable.</p>
    <p> Si prefieres algo diferente, nuestros arroces especiales y únicos son una auténtica delicia.
        Ofrecemos un surtido de recetas totalmente diferentes a las que conoces, con las que hemos ganado varios premios.
       Nuestras recetas originales están diseñadas para resaltar todo el sabor de una materia prima de excelente calidad.</p>
</div>
{% endblock %}
