<h1>Buenas, confirma tu email</h1>

<p>
    Por favor confirma tu cuenta de email mediante el siguiente link: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmar Email</a>.
    Este link expira en {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Muchas gracias por registrarse en el Restaurante DWES
</p>
