{% extends 'base.html.twig' %}

{% block title %}Encuentranos - Restaurante DWES{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    span {color: darkred; font-weight: bold}
</style>

<div class="example-wrapper">
    <h2>Encuéntranos - Restaurante DWES 🗺️📍</h2>

    <p>Sumérgete en el sabor y la tradición que ofrece nuestro horno de leña y BRASA.
      El aroma de las brasas enriquece la calidad de nuestros pescados, chuletones, burgers, arroces y platos de cuchara.
      Para completar el disfrute, contamos con una bodega selecta que acompaña a la perfección nuestros platos.
    <p>Garantizamos una experiencia gastronómica excepcional, con productos de temporada y kilómetro cero, que reflejan nuestro compromiso con la frescura y sostenibilidad.</p>

    <div>
        <h3>Horario:</h3>
        <p><span>Servicio de cenas:</span> Viernes a Domingo de 20:00 a 23:30</p>
        <p><span>Servicio de comidas:</span> Martes a Domingo de 13:00 a 16:30</p>
    </div>

    <div>
        <h3>Ubicación:</h3>
        <p>Estamos ubicados en Pol. Ind. Norte, C. del Censal, 21, 46230 Alginet, Valencia</p>
        <a href="https://maps.app.goo.gl/1LBxZTTjdEKHTgiS8">Enlace a google maps</a><br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3088.724645179212!2d-0.46707612361524664!3d39.27181382452467!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd61ad995fae2fc7%3A0xeedd2deb115bf585!2sPol.%20Ind.%20Norte%2C%20C.%20del%20Censal%2C%2021%2C%2046230%20Alginet%2C%20Valencia!5e0!3m2!1ses!2ses!4v1738695780786!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

 </div>
{% endblock %}
