{% extends 'base.html.twig' %}

{% block title %}Carta - Restaurante DWES{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        span {color: darkred; font-weight: bold}
    </style>


    <div class="example-wrapper">
        <h2> Carta del Restaurante DWES 📄</h2>

                <!-- Entrantes -->
        <section>
            <h3>Entrantes 🥗</h3>
            <ul>
                <li>
                    <span>Cesta de pan con tomate y ajo aceite</span>
                    3.75€
                </li>
                <li>
                    <span>Olivas de la casa</span>
                    3.25€
                </li>
                <li>
                    <span>Anchoas del Cantábrico</span>
                    2.95€
                </li>
                <li>
                    <span>Jamón de Bellota</span>
                    20.00€
                </li>
                <li>
                    <span>Pulpo a la brasa</span>
                    23.05€
                </li>
            </ul>
        </section>


        <!-- Principales -->
        <section>
            <h3>Principales 🍽️</h3>
            <ul>
                <li>
                    <span>Parrillada de carne a la brasa</span>
                    23.75€
                </li>
                <li>
                    <span>Muslo de pollo deshuesado a la brasa</span>
                    15.25€
                </li>
                <li>
                    <span>Hamburguesa completa</span>
                    12.95€
                </li>
                <li>
                    <span>Entrecot de Vaca a la brasa</span>
                    25.00€
                </li>
                <li>
                    <span>Paella valenciana</span>
                    16.05€
                </li>
                <li>
                    <span>Lubina a la plancha</span>
                    18.05€
                </li>
                <li>
                    <span>Salmón a la plancha</span>
                    19.25€
                </li>
            </ul>
        </section>

        <!-- Bebidas -->
        <section>
            <h3>Bebidas 🍷 </h3>
            <ul>
                <li>
                    <span>Agua 1.5L</span>
                    1.50€
                </li>
                <li>
                    <span>Copa de vino tinto de la casa</span>
                    4.50€
                </li>
                <li>
                    <span>Cocacola</span>
                    1.50€
                </li>
                <li>
                    <span>Fanta de naranja</span>
                    1.40€
                </li>
                <li>
                    <span>Zumos naturales</span>
                    2.40€
                </li>
                <li>
                    <span>Cafés e infusiones</span>
                    1.20€
                </li>
            </ul>
        </section>

        <!-- Postres -->
        <section>
            <h3>Postres 🍰 </h3>
            <ul>
                <li>
                    <span>Copa de fruta variada con helado de mango y nata</span>
                    6.50€
                </li>
                <li>
                    <span>Panna Cotta de chocolate blanco con helado de turrón</span>
                    6.50€
                </li>
                <li>
                    <span>Pan de Calatrava al horno de leña</span>
                    6.50€
                </li>
                <li>
                    <span>Tarta de tiramisu</span>
                    6.50€
                </li>
            </ul>
         </section>
    </div>
{% endblock %}